<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="MediaServicesAccountName" value="%MediaServicesAccountName%"/>
    <add key="MediaServicesAccountKey" value="%MediaServicesAccountKey%"/>
    <add key="MediaServicesUri" value="https://media.windows.net/" />
    <add key="MediaServicesAcsBaseAddress" value="https://wamsprodglobal001acs.accesscontrol.windows.net" />
    <add key="MediaServicesAccessScope" value="urn:WindowsAzureMediaServices" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.5.0.0" newVersion="5.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
